---
title: "HyperEscape"
layout: splash
permalink: /
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/home/ai-home.webp
  caption: ""
excerpt: "Path to data science starts here."
intro: 
  - excerpt: 'Welcome to the learning journey. This site is absolutely **free**. '
feature_row:
  - image_path: assets/images/home/ml.webp
    alt: "Machine Learning"
    title: "Machine Learning"
    excerpt: "Start learning ML concepts"
    btn_label: "Start Learning"
    btn_class: "btn--primary"
    url: "/machine-learning/"
  - image_path: /assets/images/home/dl.webp
    alt: "Deep Learning"
    title: "Deep Learning"
    excerpt: "Want to start with Deep Learning?"
    url: "/deep-learning/"
    btn_label: "Start Learning"
    btn_class: "btn--primary"
  - image_path: /assets/images/home/embedded.webp
    title: "Embedded"
    excerpt: "Learn about Embedded programming"
    url: "embedded"
    btn_label: "Start Learning"
    btn_class: "btn--primary"
feature_row2:
  - image_path: /assets/images/home/project2.webp
    alt: "Projects"
    title: "Projects"
    excerpt: 'Find here practical projects. These projects are built to solve real problems.'
    url: "projects"
    btn_label: "Explore"
    btn_class: "btn--primary"
feature_row3:
  - image_path: /assets/images/home/coming-soon.webp
    alt: "coming soon"
    title: "Coming Soon"
    excerpt: 'The content will be added soon.'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row4:
  - image_path: /assets/images/home/coming-soon.webp
    alt: "coming soon"
    title: "Coming Soon"
    excerpt: 'The content will be added soon.'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}

{% include feature_row id="feature_row4" type="center" %}